{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <h4>제품리스트</h4>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">등록날자</th>
                    <th scope="col">설명</th>

                </tr>
            </thead>
            <tbody class="text-dart">
            {% for product in object_list %}
                <tr>
                    <th scope="row">{{product.id}}</th>
                    <th scope="row"><a href="/product/{{product.id}}">{{product.name}}</a></th>
                    <th scope="row">{{product.price|intcomma}}원</th>
                    <th scope="row">{{product.register_date|date:'Y-m-d H:i'}}</th>
                    {% comment %} <th scope="row" style="width:100px;">{{product.description | safe}}</th> {% endcomment %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}