{% extends "base.html" %}
{% load humanize %}
{% block header %}
<script>
    const product_detail=(id)=>{
        $.ajax({
            url:'/api/product/'+id+'/',
            success:(result)=>{
                $('#product-'+id).popover({
                    html:true,
                    content:result.name+'<b>'+result.price+'</b>'
                }).popover('show');
            }
        });
    }

    const product_leave=(id)=>{
        $('#product-'+id).popover('hide');
    }
   
</script>
{% endblock %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <h4>제품리스트</h4>
        <table class="table table-light">
            <thead class="thead-light">
                <tr> 
                    <th id="xxx" scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">등록날자</th>
                    <th scope="col">재고수량</th>

                </tr>
            </thead>
            <tbody class="text-dart">
            {% for product in object_list %}
                <tr>
                    <th scope="row">{{product.id}}</th>
                    <th id="product-{{product.id}}" 
                        onmouseenter="product_detail({{product.id}});" 
                        scope="row"
                        onmouseleave="product_leave({{product.id}})"
                    >
                        <a href="/product/{{product.id}}">{{product.name}}</a>
                    </th>
                    <th scope="row">{{product.price|intcomma}}원</th>
                    <th scope="row">{{product.register_date|date:'Y-m-d H:i'}}</th>
                    {% comment %} <th scope="row" style="width:100px;">{{product.description | safe}}</th> {% endcomment %}
                    <th scope="row">{{product.stock}}개</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}